<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>Spirit Box</title>
		<script type="module" src="spirit.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<form @vue:mounted="mounted">
			<div id="grille"><p><a href="https://skeptics.nz/" class="link">NZ Skeptics</a> Radio Co<span></span></p></div>
			<div id="tuner">
				<div class="glass"></div>
				<div id="station"><span> - </span><template v-for="id in number"><span>{{id}}</span><span> - </span></template><strong>ID</strong></div>
				<div id="bar"><template v-for="n in 100">|</template></div>
				<div id="frequency"><template v-for="ms in times"><span>{{ms}}</span></template> <strong>MS</strong></div>
			</div>
			<h2><a v-if="station" :href="station.website">{{station.name}}</a></h2>
			<div id="controls">
				<div>
					<div class="led" :class="{red: play}"></div>
					<button type='button' @click="playPause">{{play ? 'Stop' : 'Play'}}</button><!-- style="position: absolute; right: 300px; top: 300px;" -->
				</div>
				<input type="range" min="0" max="100" v-model.number="volume" :title="volume + '%'" @change="retune" />
				<input v-if="allStations" type="range" min="4" max="16" v-model.number="number" :title="range + ' stations'" @change="retune" />
				<input type="range" min="200" max="1000" step="100" v-model.number="ms" :title="ms + 'ms'" @change="retune" />
			</div>
			<div>
				<audio v-for="(station, id) in stations" :key="station.url" :ref="'audio' + id" autoplay :src="station.url"></audio>
			</div>
	</form>
	</body>
</html>
