<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="./logo.svg">
		<link rel="stylesheet" href="./reset.min.css" />
		<script type="module" src="./spirit.js?v=20261028"></script>
		<link rel="stylesheet" href="./style.css">
		<title>Spirit Box</title>
	</head>
	<body>
		<form v-scope @vue:mounted="mounted">
			<div id="grille"><p><img src="./logo.svg" alt="Spirit Box Logo" class="brand-logo"><a href="https://skeptics.nz/" class="link">NZ Skeptics</a> Radio</p></div>
			<div id="tuner">
				<div class="glass"></div>
				<div id="station">
					<div class="scale station-scale">
						<template v-for="id in stationDigits" :key="'digit-' + id">
							<span :class="{active: id === currentStationNumber}">{{id}}</span>
						</template>
					</div>
					<strong>ID</strong>
				</div>
				<div id="bar">{{barPrimary}}</div>
				<div id="bar">{{barSecondary}}</div>
				<div id="tuneTrack">
					<div id="tuneNeedle" :class="needleMotionClass" :style="needleStyle"></div>
				</div>
				<div id="frequency">
					<div class="scale frequency-scale">
						<template v-for="ms in times" :key="ms"><span>{{ms}}</span></template>
					</div>
					<strong>MS</strong>
				</div>
			</div>
			<h2 class="station-title">
				<a v-if="station" :href="station?.website || '#'">{{station?.name || ''}}</a>
				<span v-else>&nbsp;</span>
			</h2>
			<div id="controls">
				<div class="control-hero">
					<div class="transport-group">
						<div class="led" :class="{red: play}" @click="onPlayClick" title="Play / Stop"></div>
						<button id="playButton" type='button' @click.prevent="onPlayClick">{{play ? 'Stop' : 'Play'}}</button>
					</div>
					<div v-if="showVolumeControl" class="control-group volume-knob-group">
						<label for="volumeSlider">Volume</label>
						<div
							class="volume-dial"
							:style="{
								'--dial-fill': ((volume / 100) * 270) + 'deg',
								'--dial-angle': (((volume / 100) * 270) - 135) + 'deg'
							}"
						>
							<div class="volume-dial-value">{{volume}}%</div>
						</div>
						<input id="volumeSlider" class="volume-slider" type="range" :min="volumeMin" :max="volumeMax" :step="volumeStep" v-model.number="volume" :title="volume + '%'" @input="updateVolume" @change="updateVolume" />
					</div>
				</div>
				<div class="control-grid">
					<div v-if="showStationsControl" class="control-group">
						<label for="stationCountSlider">Stations <span>{{number}}</span></label>
						<input id="stationCountSlider" type="range" :min="stationsMin" :max="maxStations" v-model.number="number" :title="number + ' stations'" :disabled="!allStations?.length" @input="updateStationCount" @change="updateStationCount" />
					</div>
					<div v-if="showMsControl" class="control-group">
						<label for="switchSlider">Hop <span>{{ms}}ms</span></label>
						<input id="switchSlider" type="range" :min="msMin" :max="msMax" :step="msStep" v-model.number="ms" :title="ms + 'ms'" @change="retune" />
					</div>
					<div v-if="showStaticRatioControl" class="control-group">
						<label for="staticMixSlider">Static <span>{{staticRatio}}%</span></label>
						<input id="staticMixSlider" type="range" :min="staticRatioMin" :max="staticRatioMax" :step="staticRatioStep" v-model.number="staticRatio" :title="staticRatio + '%'" />
					</div>
					<div v-if="showJitterControl" class="control-group">
						<label for="jitterSlider">Jitter <span>+/-{{jitterMs}}ms</span></label>
						<input id="jitterSlider" type="range" :min="jitterMin" :max="jitterMax" :step="jitterStep" v-model.number="jitterMs" :title="'+/-' + jitterMs + 'ms'" @change="retune" />
					</div>
					<div v-if="showChunkModeControl" class="control-group">
						<label for="chunkModeSlider">Chunking <span>{{chunkModeLabel}}</span></label>
						<input id="chunkModeSlider" type="range" :min="chunkModeMin" :max="chunkModeMax" :step="chunkModeStep" v-model.number="chunkMode" :title="'Chunking ' + chunkModeLabel" @input="updateChunkMode" @change="updateChunkMode" />
						<div class="tri-hints"><span>Off</span><span>750</span><span>1500</span></div>
					</div>
					<div v-if="showStaticPresetControl" class="control-group">
						<label for="presetSwitch">Static Preset <span>{{staticPresetLabel}}</span></label>
						<div id="presetSwitch" class="tri-switch" role="group" aria-label="Static preset">
							<button type="button" :class="{active: staticPresetMode === 0}" @click="staticPresetMode = 0; updateStaticPreset()">Conservative</button>
							<button type="button" :class="{active: staticPresetMode === 1}" @click="staticPresetMode = 1; updateStaticPreset()">Classic</button>
							<button type="button" :class="{active: staticPresetMode === 2}" @click="staticPresetMode = 2; updateStaticPreset()">Aggressive</button>
						</div>
					</div>
				</div>
			</div>
			<div id="audioBank">
				<audio v-for="(station, id) in stations" :key="id" :data-audio-index="id" :src="station.url"></audio>
			</div>
	</form>
	</body>
</html>
